
{{#each collections as |collection|}}
  {{log collection}}
  <section data-id="{{collection.id}}">
    <div class="border">
    <div class="row col-6">
    <p>Name: </p>
    <p>
      {{limit collection.name 10}}
    </p>
  </div>
  <div class="row col-6"
    <p>Author: </p>
    <p>
      {{#if collection.author}}
        {{collection.author}}
      {{else}}
        No author provided.
      {{/if}}
    </p>
  </div>
    <button class="btn btn-primary set-collection">Set</button>
    <button class="btn btn-danger delete-collection">Remove</button>
  </div>
  </section>


{{/each}}
