
{{#each collections as |collection|}}
  {{log collection}}
  <section data-id="{{collection.id}}">
    <p>Name:</p>
    <p>
      {{limit collection.name 10}}
    </p>
    <p>Author:</p>
    <p>
      {{#if collection.author}}
        {{collection.author}}
      {{else}}
        No author provided.
      {{/if}}
    </p>
    <button class="btn btn-danger delete-collection">Remove</button>
  </section>

{{/each}}
